<div class="container p-4">
    <div class="p-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="container-fluid">
                    <h1 class="display-5 fw-bold text-primary">
                        <fa-icon [icon]="[ 'fas', 'piggy-bank' ]"></fa-icon>
                        Bienvenido a su Banco
                    </h1>
                    <p class="col-lg-8 fs-4 text-muted">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis dicta culpa ea dolorum nobis fugit
                        in alias dolores, non ipsa cum perspiciatis ratione molestias accusamus aperiam quidem ut deleniti
                        et?
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <form [formGroup]="form" (ngSubmit)="save()">
                    <div class="card border-primary">
                        <div class="card-header py-3">
                            <h5 class="mb-0 text-center text-primary">Nuevo registro</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group mb-2">
                                <label for="contact_rut" class="form-label form-label-required">Rut</label>
                                <input id="contact_rut" maxlength="10" type="text" class="form-control form-control-lg"
                                    [ngClass]="{
                                        'border-danger': form.controls.rut.invalid && form.controls.rut.touched
                                    }" formControlName="rut" autocomplete="off" />
                            </div>
                            <div class="form-group mb-2">
                                <label for="contact_name" class="form-label form-label-required">Nombre y Apellido</label>
                                <input id="contact_name" type="text" class="form-control form-control-lg" [ngClass]="{
                                        'border-danger': form.controls.name.invalid && form.controls.name.touched
                                    }" formControlName="name" autocomplete="off" />
                            </div>
    
    
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <input type="password" autocomplete="off" formControlName="password"
                                        placeholder="Ingrese su contraseña" class="form-control form-control-lg" id="pass1">
                                </div>
                                <div class="col">
                                    <input type="password" autocomplete="off" formControlName="password2"
                                        placeholder="Reingrese su contraseña" class="form-control form-control-lg"
                                        id="pass2">
                                </div>
                            </div>
                            <div class="text-center text-danger"
                                *ngIf="form.controls.password.touched && form.errors && form.errors.password as error">
                                {{ error }}
                            </div>
                        </div>
                        <div class="card-footer w-100">
                            <div class="d-flex justify-content-around align-items-center">
                                <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-lg">
                                    <fa-icon [icon]="[ 'fas', 'address-book' ]"></fa-icon>
                                    <span class="ml-3">
                                        Registrarme
                                    </span>
                                </button>
    
                                <button type="button" class="btn btn-lg btn-secondary" [routerLink]="[ '/login' ]">
                                    <fa-icon [icon]="[ 'fas', 'user' ]"></fa-icon>
                                    <span class="ml-3">
                                        Ya tengo cuenta
                                    </span>
                                </button>
    
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>